<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <!-- display: block -->
    {% include breadcrumb_item.html url="/" text="Help Center" %}

    <!-- display: block -->
    {% if page.category and page.type != "category" %}

    <!-- display: block -->
    {% assign category = site.pages | where:"type","category" |
    where:"category",page.category | first %} {% include breadcrumb_item.html
    url=category.url text=category.title %}

    <!-- display: block -->
    {% endif %}

    <!-- display: block -->
    {% if page.topic and page.type != "topic" %}

    <!-- display: block -->
    {% assign topic = site.pages | where:"type","topic" |
    where:"topic",page.topic | first %} {% include breadcrumb_item.html
    url=topic.url text=topic.title %}

    <!-- display: block -->
    {% endif %}

    <!-- display: block -->
    {% include active_breadcrumb_item.html %}
  </ol>
</nav>
