---
layout: default
---

<div class="row">
  <div class="col-2">
    <nav>
      <ol class="nav flex-column">
        <!-- display: block -->
        {% assign topics = site.pages | where:"type","topic" |
        where:"category",page.category %}

        <!-- display: block -->
        {% for topic in topics %}

        <!-- display: block -->
        {% if page.topic == topic.topic %} {% assign currentTopic = true %} {%
        else %} {% assign currentTopic = false %} {% endif %}

        <!-- display: block -->
        {% if page.url == topic.url %} {% assign topicActive = 'active' %} {%
        else %} {% assign topicActive = '' %} {% endif %}

        <!-- display: block -->
        <li class="nav-item">
          <a class="nav-link {{ topicActive }}" href="{{ topic.url }}"
            >{{ topic.title }}</a
          >

          <!-- display: block -->
          {% if currentTopic == true %}

          <ul class="nav flex-column pl-3">
            <!-- display: block -->
            {% assign articles = site.pages | where:"type","article" |
            where:"topic",topic.topic %}

            <!-- display: block -->
            {% for article in articles %}

            <!-- display: block -->
            {% if page.url == article.url %} {% assign articleActive = 'active'
            %} {% else %} {% assign articleActive = '' %} {% endif %}

            <li class="nav-item">
              <a class="nav-link {{ articleActive }}" href="{{ article.url }}"
                >{{ article.title }}</a
              >
            </li>

            <!-- display: block -->
            {% endfor %}
          </ul>

          <!-- display: block -->
          {% endif %}
        </li>

        <!-- display: block -->
        {% endfor %}
      </ol>
    </nav>
  </div>

  <div class="col">
    <!-- display: block -->
    {% include page_header.html %}

    <!-- display: block -->
    {{ content }}
  </div>
</div>
